.right {
  fieldset {
    border: 2px solid #3a3b3c;
    padding: 0.5rem 0.75rem 1rem;
    border-radius: 0.45rem;
    max-height: 250px;
    legend {
      background-color: #242526;
      width: auto;
      max-width: 100%;
      font-size: 1rem;
      padding: 0 0.5rem;
      border-radius: 0.45rem;
      margin-bottom: 0;
      font-weight: 500;
      color: #b0b3b8;
    }
    .form-control {
      color: #b0b3b8;
      border: 1px solid transparent;
      background-color: transparent;
      padding: 0 0.5rem;
      height: calc(1em + 0.75rem + 2px);
      &:disabled,
      &[readonly] {
        background-color: transparent;
      }
      &:focus {
        color: #b0b3b8;
        box-shadow: none;
        border-color: transparent;
        background-color: transparent;
      }
    }
  }
  label.custom-control-label {
    font-weight: normal;
  }
  .custom-control-label::before {
    background-color: #3a3b3c;
    border: #555 solid 1px;
  }
  .custom-control-input:checked~.custom-control-label::before {
    color: #e4e6eb;
    border-color: #555;
    background-color: #555;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../../assets/images/system/calendar.png) center/80%;
    background-repeat: no-repeat;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}